<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.coursedesign2022.mapper.userInfoMapper">
  <resultMap id="BaseResultMap" type="com.course.coursedesign2022.pojo.userInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="growScore" jdbcType="INTEGER" property="growscore" />
    <result column="exchangeScore" jdbcType="INTEGER" property="exchangescore" />
    <result column="scoreTotal" jdbcType="INTEGER" property="scoretotal" />
    <result column="lastLoginDate" jdbcType="VARCHAR" property="lastlogindate" />
    <result column="fillInformationBefore" jdbcType="INTEGER" property="fillinformationbefore" />
    <result column="bloodSugarCount" jdbcType="INTEGER" property="bloodsugarcount" />
    <result column="bfzDate" jdbcType="VARCHAR" property="bfzdate" />
    <result column="ydgnDate" jdbcType="VARCHAR" property="ydgndate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, growScore, exchangeScore, scoreTotal, lastLoginDate, fillInformationBefore, bloodSugarCount, 
    bfzDate, ydgnDate
  </sql>
  <select id="selectByExample" parameterType="com.course.coursedesign2022.pojo.userInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.course.coursedesign2022.pojo.userInfoExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.course.coursedesign2022.pojo.userInfo">
    insert into user (id, growScore, exchangeScore, 
      scoreTotal, lastLoginDate, fillInformationBefore, 
      bloodSugarCount, bfzDate, ydgnDate
      )
    values (#{id,jdbcType=INTEGER}, #{growscore,jdbcType=INTEGER}, #{exchangescore,jdbcType=INTEGER}, 
      #{scoretotal,jdbcType=INTEGER}, #{lastlogindate,jdbcType=VARCHAR}, #{fillinformationbefore,jdbcType=INTEGER}, 
      #{bloodsugarcount,jdbcType=INTEGER}, #{bfzdate,jdbcType=VARCHAR}, #{ydgndate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.course.coursedesign2022.pojo.userInfo">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="growscore != null">
        growScore,
      </if>
      <if test="exchangescore != null">
        exchangeScore,
      </if>
      <if test="scoretotal != null">
        scoreTotal,
      </if>
      <if test="lastlogindate != null">
        lastLoginDate,
      </if>
      <if test="fillinformationbefore != null">
        fillInformationBefore,
      </if>
      <if test="bloodsugarcount != null">
        bloodSugarCount,
      </if>
      <if test="bfzdate != null">
        bfzDate,
      </if>
      <if test="ydgndate != null">
        ydgnDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="growscore != null">
        #{growscore,jdbcType=INTEGER},
      </if>
      <if test="exchangescore != null">
        #{exchangescore,jdbcType=INTEGER},
      </if>
      <if test="scoretotal != null">
        #{scoretotal,jdbcType=INTEGER},
      </if>
      <if test="lastlogindate != null">
        #{lastlogindate,jdbcType=VARCHAR},
      </if>
      <if test="fillinformationbefore != null">
        #{fillinformationbefore,jdbcType=INTEGER},
      </if>
      <if test="bloodsugarcount != null">
        #{bloodsugarcount,jdbcType=INTEGER},
      </if>
      <if test="bfzdate != null">
        #{bfzdate,jdbcType=VARCHAR},
      </if>
      <if test="ydgndate != null">
        #{ydgndate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.course.coursedesign2022.pojo.userInfoExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.growscore != null">
        growScore = #{record.growscore,jdbcType=INTEGER},
      </if>
      <if test="record.exchangescore != null">
        exchangeScore = #{record.exchangescore,jdbcType=INTEGER},
      </if>
      <if test="record.scoretotal != null">
        scoreTotal = #{record.scoretotal,jdbcType=INTEGER},
      </if>
      <if test="record.lastlogindate != null">
        lastLoginDate = #{record.lastlogindate,jdbcType=VARCHAR},
      </if>
      <if test="record.fillinformationbefore != null">
        fillInformationBefore = #{record.fillinformationbefore,jdbcType=INTEGER},
      </if>
      <if test="record.bloodsugarcount != null">
        bloodSugarCount = #{record.bloodsugarcount,jdbcType=INTEGER},
      </if>
      <if test="record.bfzdate != null">
        bfzDate = #{record.bfzdate,jdbcType=VARCHAR},
      </if>
      <if test="record.ydgndate != null">
        ydgnDate = #{record.ydgndate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set id = #{record.id,jdbcType=INTEGER},
      growScore = #{record.growscore,jdbcType=INTEGER},
      exchangeScore = #{record.exchangescore,jdbcType=INTEGER},
      scoreTotal = #{record.scoretotal,jdbcType=INTEGER},
      lastLoginDate = #{record.lastlogindate,jdbcType=VARCHAR},
      fillInformationBefore = #{record.fillinformationbefore,jdbcType=INTEGER},
      bloodSugarCount = #{record.bloodsugarcount,jdbcType=INTEGER},
      bfzDate = #{record.bfzdate,jdbcType=VARCHAR},
      ydgnDate = #{record.ydgndate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.course.coursedesign2022.pojo.userInfo">
    update user
    <set>
      <if test="growscore != null">
        growScore = #{growscore,jdbcType=INTEGER},
      </if>
      <if test="exchangescore != null">
        exchangeScore = #{exchangescore,jdbcType=INTEGER},
      </if>
      <if test="scoretotal != null">
        scoreTotal = #{scoretotal,jdbcType=INTEGER},
      </if>
      <if test="lastlogindate != null">
        lastLoginDate = #{lastlogindate,jdbcType=VARCHAR},
      </if>
      <if test="fillinformationbefore != null">
        fillInformationBefore = #{fillinformationbefore,jdbcType=INTEGER},
      </if>
      <if test="bloodsugarcount != null">
        bloodSugarCount = #{bloodsugarcount,jdbcType=INTEGER},
      </if>
      <if test="bfzdate != null">
        bfzDate = #{bfzdate,jdbcType=VARCHAR},
      </if>
      <if test="ydgndate != null">
        ydgnDate = #{ydgndate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.course.coursedesign2022.pojo.userInfo">
    update user
    set growScore = #{growscore,jdbcType=INTEGER},
      exchangeScore = #{exchangescore,jdbcType=INTEGER},
      scoreTotal = #{scoretotal,jdbcType=INTEGER},
      lastLoginDate = #{lastlogindate,jdbcType=VARCHAR},
      fillInformationBefore = #{fillinformationbefore,jdbcType=INTEGER},
      bloodSugarCount = #{bloodsugarcount,jdbcType=INTEGER},
      bfzDate = #{bfzdate,jdbcType=VARCHAR},
      ydgnDate = #{ydgndate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>